.color-white{
    color: white;
}
.mat-icon-mt-1px{
    margin-top: 1px;
    font-size: 20px;
}
.vertical-align-midle{
    vertical-align: middle;
}
.mb-3px{
    margin-bottom: 3px;
}

.mr-12px{
    margin-right: 12px !important;
}
.bg-file-upload{
    display: inline-block;
    margin-right: 0px;
    font-size: 13px;
    border-radius: 4%;
    margin-bottom: 0px;
    background: #005aff;
    padding: 0px 5px 0px 8px;
    color: white;
    width: auto;
}
.round-state-color{
    border-radius: 50%;
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 10px;
}

.btn-upload-file-right{
    position: relative;
    bottom: 6px;
}

hr{
    background: black;
}
.bg-red{
    background: rgb(255, 0, 0);
}
.bg-green{
    background: rgb(0, 255, 127);
}
.upload-file-content {
    .mat-card-title {
        text-align: left;
        font-weight: bold !important;
        h3{
            font-weight: bold;
        }
    }

    .mat-card-mb-0{
        margin-bottom: 0px !important;
    }
    .mat-card-mb-1{
        margin-bottom: 1% !important;
    }

    .mat-card-mt-0{
        margin-top: 0px !important;
    }
}



.color-white{
    color: white;
}
.mat-icon-mt-1px{
    margin-top: 1px;
    font-size: 20px;
}
.vertical-align-midle{
    vertical-align: middle;
}
.mb-3px{
    margin-bottom: 3px;
}

.mr-12px{
    margin-right: 12px !important;
}
.bg-file-upload{
    display: inline-block;
    margin-right: 0px;
    font-size: 13px;
    border-radius: 4%;
    margin-bottom: 0px;
    background: #005aff;
    padding: 0px 5px 0px 8px;
    color: white;
    width: auto;
}
.round-state-color{
    border-radius: 50%;
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 10px;
}

.btn-upload-file-right{
    position: relative;
    bottom: 6px;
}

hr{
    background: black;
}
.bg-red{
    background: rgb(255, 0, 0);
}
.bg-green{
    background: rgb(0, 255, 127);
}
.upload-file-content {
    .mat-card-title {
        text-align: left;
        font-weight: bold !important;
        h3{
            font-weight: bold;
        }
    }

    .mat-card-mb-0{
        margin-bottom: 0px !important;
    }
    .mat-card-mb-1{
        margin-bottom: 1% !important;
    }

    .mat-card-mt-0{
        margin-top: 0px !important;
    }
}